.details_notes {
display: inline-block;
border: 1px solid blue;
padding: 3px;
box-shadow: -1px -1px 1px black, 2px 2px 3px #55aa7f; 1px 1px 0.5px #ff55ff;
cursor: pointer;
transition: all 0.5s linear 0.1s;
}
.details_notes[open] {
box-shadow: 1px 1px 1px black, -2px -2px 3px #55aa7f; 1px 1px 0.5px #ff55ff;
float: left;
border-radius: 4px;
padding: 2px;
}

details {
display: inline-block;
border: 1px solid blue;
padding: 3px;
box-shadow: -1px -1px 1px black, 2px 2px 3px yellow; 1px 1px 0.5px orange;
cursor: pointer;
transition: all 0.5s linear 0.1s;
}
details[open] {
box-shadow: 1px 1px 1px black, -2px -2px 3px yellow; 1px 1px 0.5px orange;
margin: 5px;
float: left;
background: linear-gradient(64deg, #fff3b5, #e0eeff);
}

.details_notes summary::-webkit-details-marker {
	display: none; /* убирает стандартный маркер в Chrome*/
}
.details_notes > summary {
	list-style: none; /* убирает стандартный маркер в Firefox */
}
.details_notes summary:before {
	content: '\f0fe'; /* символ квадратика с минусом */
  	margin-right: 7px;
}